 body{
   /* background-image: url(image/background.png);
   background-repeat: no-repeat;
   background-size: 100%; */
   background-color: #0d0926;
   position:sticky;
   top: 0px;
   z-index: 0;
   margin: 0px;
   padding: 0px;
 }
nav{
   margin-top: 5px;
   color: white;
   border: 2px solid blue;
   height: 70px;
   background-color: rgb(2, 9, 32);
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-radius: 10px;
   position: sticky;
   top: 0px;
   z-index: 1;
}

nav img{
   height: 60px;
   width: auto;
}

nav a{
   padding: 8px 25px ;
   text-decoration: none;
   font-size: 20px;
    margin-right: 50px; 
     font-family: 'Inter', system-ui, sans-serif;
   font-weight: 600;
}

nav a:hover{
   color: #0255fc;
   background: #0021527c;
   border-radius: 10px;

}

#contact{
  background-color: rgb(56 26 183);
    height: 45px;
    width: 150px;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    border: none;
}

#contact:hover{
  
    background-color: rgb(24, 0, 130);
}

#div1{
   margin: 20px;
   display: flex;
   justify-content: space-around;
   height: 500px;
   border-radius: 20px;
   background-color: rgba(15, 6, 67, 0.66);
   backdrop-filter: blur(20px);
}

#div1 h5 {
   color: white;
    letter-spacing: 3px;
   
}
#div1 h1 {
   font-family: cursive;
   margin: 0px;
    font-size: 70px;
    font-weight: bold;
       background: linear-gradient(45deg, #9349cb, #0056db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
}

#div1 h3 {
   color: white;
   font-weight: lighter;
}

#div1 p{
       color: #889dbf;
    width: 60%;
    font-family: sans-serif;
}

#div1 a{
   font-family:sans-serif;
   margin-top: 50px;
   display: block;
    color: white;
    background-color:  rgb(56 26 183);
    height: 30px;
    width: 40%;   
    padding-top: 15px;
    text-align: center;
    border-radius: 25px;
}

#div1 a:hover{
   background-color: rgb(29, 0, 158);
}

#div1 img{
   margin-top: 60px;
   height:auto;
   width:650px;
   border-radius: 10px;
}
#div2{
   height: 450px;
   margin-top: 50px;
   display: flex;
   justify-content: space-around;
   color: white;
}

#div2 span{
   border: 3px solid rgb(14, 14, 141);
   padding-left: 10px;
   margin-top: 50px;
    height: 250px;
    width: 20%;
    background-color: #010f35a2;
    backdrop-filter: blur(10px);
    border-radius: 25px;
}

#div2 span:hover{
   border: 2px solid rgb(86, 48, 211);
   position: relative;
   bottom: 10px;
}

#div2 p{
       margin-left: 30px;
    width: 60%;
    font-size: 15px;
   
    color: #b0b4b8;
        font-family:sans-serif;

}

#div2 h2{
     font-family:sans-serif;
       margin-left: 30px;
}

#div2 i{
   padding: 30px;
   margin-top: 20px;
   margin-left: 10%;
   font-size: 25px;
   color: #0606ff;
    background-color: #051b8a6e;
   border-radius: 10px;
}
#div2 i:hover{
   background-color: #05011eb1;
   color: rgb(4, 50, 217);

}

#div6{
   margin-top: 15px;
    background: linear-gradient(to right, rgb(28, 1, 67), rgb(7, 14, 53));
   height: 200px;
   border-top: 1px solid rgb(0, 0, 103);
}
#master{
   color: #b0cfff;
   text-align: center;  
   padding-top: 50px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

#marquee{
   
   display: flex;
   align-items: center;

}

marquee{
   margin-top: 30px;
}
#marquee div{
   width:max-content;
  height: 40px;
   color: #819fce;
   gap: 10px; 
   padding-right: 20px;
   align-items: center;
   display: inline-flex;
   font-family: sans-serif;
   font-weight: 600;
   border: 2px solid #0045ac ;
   border-radius: 25px;
   margin-left: 50px;
}
#marquee div:hover{
   color: #9bb6e1;
}
#marquee i{
   font-size: 20px;
   color: #0267ff;
   padding-left: 20px;
}

#box{
   border-top: 2px solid rgba(43, 40, 62, 0.729);
   background-color: #05011d;
   padding: 100px 50px;
   

}

#box2{
   margin-left:5%;
   text-align: center;
   height: 300px;
   width: 90%;
   border-radius: 10px;
   color: #c5dbfb;
     background: linear-gradient(to right, rgb(102, 72, 157), rgb(49, 1, 117));
}

#box2 h1{
   padding-top: 30px;
   font-family: sans-serif;
   
}
#box2 p{
   font-family: sans-serif;
}
#box3{
   margin-top: 20px;
display: inline-flex;
gap: 20px;

}
#start{
   background-color:white;
   color: #043a8d;
   font-family: sans-serif;
   width:max-content;
   font-weight: 600;
   border-radius: 10px;
   height: 30px;
   padding-top: 10px;
   padding-right:20px ;
    text-decoration: none;
}

#start:hover{
   position: relative;
   bottom: 2px;
   
}
#hitesh{
   text-decoration: none;
   color: #f1f1f1;
    background-color: rgba(253, 253, 255, 0.173);
   backdrop-filter: blur(20px);
   border:1px solid grey ;
   font-family: sans-serif;
   width:max-content;
   font-weight: 600;
   border-radius: 10px;
   height: 30px;
   padding-top: 10px;
   padding-right:20px ;
}

#hitesh:hover{
   position: relative;
   bottom: 2px;
    background-color: rgba(94, 94, 157, 0.777);
   backdrop-filter: blur(20px);
}
#box3 i{
   padding-left: 20px;
   padding-right: 10px;
}

#footer{
border-top:2px solid rgb(22, 3, 107) ;
    position:static;
     background-color: #05011d;
       
    width: 100%;
    
}

#div4{
   display: flex;
   justify-content: space-around;
   color: white;
  
}


#span img{
width: 105px;
}

#span i{
  height: 20px;
   width: 35px;
   font-size: 20px;
   color: white;
   border: 1px solid white;
   border-radius: 10px;
     padding: 10px;
     margin-left: 10px;
   text-align: center;
}

#span i:hover{
   color: rgb(97, 130, 249);
   border: 1px solid rgb(50, 50, 255);
}

#span p{
   font-family: sans-serif;
   width: 250px;
   color: #889dbf;
}
#footer h3 , h5 , a{
   color: #889dbf;
   font-family: sans-serif;
}

.quick{
   margin-top: 20px;
   display: block;
   text-decoration: none;
}
.quick:hover{
   color: white;
}


#footer i{
   color: #94a3b8;
   border: none;
   padding-right: 10px;
}

#div5{
   display: flex;
   justify-content: space-around;
border-top: 1px solid rgb(25, 25, 75);
color: #44556e;
font-family: sans-serif;
}

#div5 p{
margin-left: 10px;
}

#div5 i{
   color: red;
}




@media (max-width:500px){
   body{
             background-size: auto 400px;
   }
   nav{
 
      width: 600px;
    
   }

  
   nav a{
      font-size: 15px;
   margin-right: 50px;
   }
   #contact{
            height: 30px;
        width: 130px;
        font-size: 15px;
   }

   #div1{
      margin-top: 15px;
      width: 60%;
      margin-left: 20px;
   height: 250px;
   }

   #div1 span{
      padding-left: 15px;
   }
   #div1 h1{

              margin-top: 15px;
      font-size: 30px
   }

   #div1 h5,p{
              margin-top: 15px;
      font-size: 10px;
   }
   #div1 h3{
              margin-top: 10px;
      font-size: 15px;
   }
   #div1 a{
      height: 30px;
    width: 50%;
      font-size: 15px;
      margin-top: 20px;
       padding-top: 8px;
   }

   #div2{
      background-color: #05011d;
      margin-top:5px;
      height: 600px;
   width: 610px;
   display: flex;
   flex-wrap: wrap;
   padding-top: 50px;
   }
#div2 span{
    height: 200px;
    width: 40%;
}


#div2 h2{
   font-size: 20px;
   margin-top: 20px;
}
   #div2 i{
      font-size: 15px;
        margin-top: 20px;
   margin-left: 10%;
   padding: 10px;
    height: 13px;
   width: 25px;
   }

   #div2 p{
       margin-left: 40px;
    width: 60%;
    font-size: 10px;
   }

   #div6{
      margin-top: 0px;
      width: 610px;
   }
   #box{
      width: 510px;
   }
   #footer{
      width: 610px;
   }
   #span i{
  height: 10px;
   width: 20px;
   border-radius: 5px;
   font-size: 10px;
   padding: 5px;
   }
   #span p{
      width: 150px;
   }

   #footer h3{
      font-size: 15px;
   }
#span2 h5{
   font-size: 10px;
}
}